@{
	ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/homePage.css" asp-append-version="true" />



 <div class="pimg1">
      <div class="ptext">
        <span class="border">
          Tropical Bazaar
        </span>
      </div>
    </div>
    <section class="section section-light">
      <h2>Section 1</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam soluta
        quis similique numquam ipsum nostrum, odio unde sapiente corrupti saepe
        dolorem incidunt recusandae totam rerum illum? Adipisci ratione itaque
        vitae commodi nemo unde, mollitia quo eveniet. Illum ipsam, expedita
        voluptatibus dolore corrupti nobis culpa sed aspernatur aut quasi
        deleniti ducimus vero quis soluta voluptate fugiat, id fugit ratione
        laborum. Voluptatum, temporibus debitis. Est, explicabo voluptatem ab
        vitae similique odit dicta nobis porro. Molestias doloribus sed aut odio
        fuga nemo, id possimus, suscipit velit quae error voluptatibus. Mollitia
        ratione deserunt incidunt neque illum fugit id, a natus, dolor,
        repellendus exercitationem distinctio.
      </p>
    </section>
    <div class="pimg2">
      <div class="ptext">
        <span class="border border-image">
          delicious
        </span>
      </div>
    </div>
    <section class="section section-mid">
      <h2>Section 2</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam soluta
        quis similique numquam ipsum nostrum, odio unde sapiente corrupti saepe
        dolorem incidunt recusandae totam rerum illum? Adipisci ratione itaque
        vitae commodi nemo unde, mollitia quo eveniet. Illum ipsam, expedita
        voluptatibus dolore corrupti nobis culpa sed aspernatur aut quasi
        deleniti ducimus vero quis soluta voluptate fugiat, id fugit ratione
        laborum. Voluptatum, temporibus debitis. Est, explicabo voluptatem ab
        vitae similique odit dicta nobis porro.
      </p>
    </section>
    <div class="pimg3">
      <div class="ptext">
        <span class="border border-image">
          healthy
        </span>
      </div>
    </div>
    <section class="section section-dark">
      <h2>Section 3</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam soluta
        quis similique numquam ipsum nostrum, odio unde sapiente corrupti saepe
        dolorem incidunt recusandae totam rerum illum? Adipisci ratione itaque
        vitae commodi nemo unde, mollitia quo eveniet. Illum ipsam, expedita
        voluptatibus dolore corrupti nobis culpa sed aspernatur aut quasi
        deleniti ducimus vero quis soluta voluptate fugiat, id fugit ratione
        laborum. Voluptatum, temporibus debitis. Est, explicabo voluptatem ab
        vitae similique odit dicta nobis porro.
      </p>
    </section>
    <div class="pimg4">
      <div class="ptext">
          <a class="cto-link" asp-area="Customer" asp-controller="Home" asp-action="AllProducts">
        <span class="border cto">
          Shop NOW
        </span>
        </a>
      </div>
    </div>